# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/portal/node_modules
/portal/.pnp
/portal/.pnp.js

# testing
/portal/coverage

# production
/portal/build

# misc
/portal/.DS_Store
/portal/.env.local
/portal/.env.development.local
/portal/.env.test.local
/portal/.env.production.local

/portal/npm-debug.log*
/portal/yarn-debug.log*
/portal/yarn-error.log*

/backend/dist
/backend/node_modules


.DS_Store